@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

/*------------------------Colors */

.bg-color-name-title {
    background-color: #78aadf;
}

.bg-color-three-reasons {
    background-color: #ece9d6;
}

.bg-color-skills {
    background-color: #ded9be;
}

.bg-color-personal-info {
    background-color: #78aadf;
}

.bg-color-work-history {
    background-color: #78aadf;
}

.bg-color-contact {
    background-color: #d6ce94;
}

.ui-menu-color-home {
    background-color: #ece9d6
}

.ui-menu-color-resume {
    background-color: #ded9be
}

.ui-menu-color-contact {
    background-color: #d6ce94
}

.ui-menu-color-download {
    background-color: #c7c094
}

/*------------------------Special Paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #308ef3;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading,
.history-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*------------------------Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 0;
    text-align: center;
}

.logo {
    background: url("../images/cv_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
    color: #308ef3;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*------------------------Footer */

footer {
    background-color: #ece9d6;
    color: #308ef3;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #308ef3;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #c7c094;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #308ef3;
    text-align: center;
    padding: 12px 0;
    line-height: 16px;
    background: #ded9be;
    border-radius: 50%;
    margin: 2px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #d6ce94;
}

#footer-details {
    padding: 20px;
}

/*------------------------Three reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #c7c094;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/*------------------------Personal Info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/*------------------------Skills */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-section {
    margin: 40px 20px;
}

/*------------------------Work History */

.history-heading {
    margin-bottom: 30px;
    color: black;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: black;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    color: black;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: white;
}

.history-items {
    margin-bottom: 30px;
}

/*------------------------Contact Form */

.contact-heading {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #308ef3;
}

.contact-subheading {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    color: #308ef3;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="Submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #d6ce94;
    background-color: #308ef3;
}

/*------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}